node_modules/
.vscode/
.idea/
build/
**/*.js
.auth/
*reports/
*videos/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.auth/
allure*/
local.log
log/
logs/
*mochawesome-report/